:root {
    /* --tileSize: 40px; */
    --totalWidth: 1500px;
    --rows: 5;
    --cols: 5;
    /* --smallTileSize: 20px; */
    --level0: hsl(0, 0%, 39%);
    --level1: hsl(40, 50%, 50%);
    --level2: hsl(80, 50%, 50%);
    --level3: hsl(120, 50%, 50%);
    --level4: hsl(180, 50%, 50%);
    --level5: hsl(220, 50%, 50%);
    --level6: hsl(260, 50%, 50%);
    --level7: hsl(285, 50%, 50%);
    --level8: hsl(360, 50%, 50%);
    /* --heat-0: #577590; */
    /* --heat-1: #43aa8b; */
    /* --heat-2: #90be6d; */
    /* --heat-3: #f9c74f; */
    /* --heat-4: #f8961e; */
    /* --heat-5: #f3722c; */
    /* --heat-6: #f94144; */
}
html {
    height: 100%;
}
body {
    height: 90%;
    width: 80%;
    margin: auto;
    background: rgb(17, 17, 17);
    background-image: radial-gradient(rgba(211, 162, 0, 0.274) 1px, transparent 0);
    background-size: 50px 50px;
    background-position: -19px -19px;
    font-family: "VG323", monospace;
}
.wrapper {
    height: 100%;
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "a a b"
        "a a c";
    gap: 10px;
    /* grid-auto-rows: minmax(150px, 1fr); */
}

.one {
    grid-area: a;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid cyan;
}
.two {
    grid-area: b;
    position: relative;
}
.three {
    position: relative;

    grid-area: c;
}
.four {
    grid-area: d;
}
.four textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* line-height: 1rem; */
    /* background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.3) 0.25rem 1.25rem, rgba(0, 0, 0, 0.1) 1.25rem 2.25rem); */
}
/* .five {
    grid-column: 2;
    grid-row: 4;
}
.six {
    grid-column: 3;
    grid-row: 4;
} */
.grid-item {
    background-color: #222;
    color: #aaa;
    border: 1px solid BLACK;
}
/*
.grid-item:nth-child(odd) {
    background-color: #1bdf25;
} */

.container {
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    /* grid-template-rows: repeat(10, 1fr); */
    gap: 5px;
    /* background-color: rgb(87, 2, 2); */
}

/* .container > div:nth-child(odd) {
    background-color: #444444;
}
.container > div:nth-child(even) {
    background-color: #cecece;
} */

.tile {
    /***TEXT*/
    font-family: "VG323", monospace;
    color: rgb(231, 231, 231);
    user-select: none;
    overflow: hidden;
    z-index: 1;
    /* display: inline-block; */
    text-align: center;
    word-break: break-all;
    /***BACKGROUND*/
    /* vertical-align: middle; */
    /* border: 0.5px solid white; */
    /* background-color: var(--level0); */
    /* background-image: url("../3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    image-rendering: pixelated; */
    /* height: 100%; */
    /* display: grid; */
    /* position: relative; */
}

.tileInner {
    font-size: small;
    position: relative;
    /* animation: glow 1s ease-in-out infinite alternate; */
    text-shadow: 1px 1px 1px #000, 1px 1px 10px #ccc;

    /* display: inline-block; */
    /* background-color: rgb(165, 165, 165); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 0.5em; */
}
