:root {
    /* --tileSize: 40px; */
    --totalWidth: 1500px;
    --rows: 5;
    --cols: 5;
    /* --smallTileSize: 20px; */
    --level0: hsl(0, 0%, 39%);
    --level1: hsl(40, 50%, 50%);
    --level2: hsl(80, 50%, 50%);
    --level3: hsl(120, 50%, 50%);
    --level4: hsl(180, 50%, 50%);
    --level5: hsl(220, 50%, 50%);
    --level6: hsl(260, 50%, 50%);
    --level7: hsl(285, 50%, 50%);
    --level8: hsl(360, 50%, 50%);
    /* --heat-0: #577590; */
    /* --heat-1: #43aa8b; */
    /* --heat-2: #90be6d; */
    /* --heat-3: #f9c74f; */
    /* --heat-4: #f8961e; */
    /* --heat-5: #f3722c; */
    /* --heat-6: #f94144; */
}
html {
    height: 100%;
}
body {
    height: 80%;
    width: 80%;
    margin: auto;
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    /* grid-auto-rows: minmax(150px, 1fr); */
}

.one {
    grid-column: 1 / 3;
    grid-row: 1 /3;
}
.two {
    grid-column: 3;
    grid-row: 1;
}
.three {
    grid-column: 3;
    grid-row: 2;
}
.four {
    grid-column: 1/4;
    grid-row: 3;
}
.four textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: darkgrey;
}
/* .five {
    grid-column: 2;
    grid-row: 4;
}
.six {
    grid-column: 3;
    grid-row: 4;
} */
.grid-item {
    background-color: #379ad6;
    color: #222;
    border: 1px solid BLACK;
}
/*
.grid-item:nth-child(odd) {
    background-color: #1bdf25;
} */

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    /* background-color: rgb(87, 2, 2); */
}

.container > div:nth-child(odd) {
    background-color: #444444;
}
.container > div:nth-child(even) {
    background-color: #cecece;
}

.tile {
    /***TEXT*/
    font-family: "VG323", monospace;
    color: rgb(231, 231, 231);
    user-select: none;
    /* overflow: hidden; */
    /***BACKGROUND*/
    /* vertical-align: middle; */
    /* border: 0.5px solid white; */
    /* background-color: var(--level0); */
    /* background-image: url("../3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    image-rendering: pixelated; */
    /* height: 100%; */
    /* display: grid; */
    /* position: relative; */
}

.tileInner {
    position: relative;
    display: inline-block;
    background-color: rgb(165, 165, 165);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
}
